<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand и toggle сгруппированы для лучшего отображения на мобильных дисплеях -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Познавалкин</a>
    </div>
    <div class="container-fluid"><p class="navbar-text">Развивающие игрушки для детей всех возрастов</p></div>

    <!-- Соберите навигационные ссылки, формы, и другой контент для переключения -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!--<li class="active"><a href="#">Каталог <span class="sr-only">(current)</span></a></li>-->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Каталог <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Английский</a></li>
            <li><a href="#">Развивающие</a></li>
            <li><a href="#">Настольные игры</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">LEGO</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="http://0.0.0.0:3000/toys">Все игрушки</a></li>
          </ul>
        </li>
        <li><a href="http://0.0.0.0:3000/contakt">Контакты</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @toys.each do |toy| %>
      <tr style="display: block; Margin-bottom:30px">
        <td><%= toy.name %> &nbsp </td>
        <td><%= toy.cost %> руб. &nbsp </td>
        <td><%= image_tag(toy.image, size: "100x100", alt: toy.image[1..-5]) %> &nbsp </td>
        <td><%= link_to 'Полная информация', toy , class: "btn btn-default"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Toy', new_toy_path %>
