<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand и toggle сгруппированы для лучшего отображения на мобильных дисплеях -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="/razrbs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="margin-top: 15px"><%= image_tag("/brand.jpeg") %></a>
    </div>
    <div class="container-fluid">
      <%= image_tag("/nadpis.jpeg", class: "navbar-text") %>
      <a href="/contakt" class="navbar-text" style="margin-top: 60px">Наши контакты</a>
      <%#= image_tag("/kalash1.jpg", size: "150x75")%>
    </div>
    <div class="container-fluid">
      <%= image_tag("/kalash1.jpg", size: "170x100") %>
      <%= image_tag("/kalash3.jpg", size: "170x100") %>
      <%= image_tag("/kalash4.jpg", size: "170x100") %>
      <%= image_tag("/kalash5.jpg", size: "170x100") %>
      <%= image_tag("/kalash2.jpg", size: "170x100")%>
    </div>
    <!-- Соберите навигационные ссылки, формы, и другой контент для переключения -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!--<li class="active"><a href="/razr">Каталог <span class="sr-only">(current)</span></a></li>-->
        <li class="dropdown">
          <a href="/razr" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Деревянные игрушки <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/shumelki">Шумелки</a></li>
            <li><a href="/pyramid">Пирамидки</a></li>
            <li><a href="/lacing">Шнуровки</a></li>
            <!--<li role="separator" class="divider"></li>-->
            <li><a href="/puzzlespictures">Пазлы-картинки</a></li>
            <!--<li role="separator" class="divider"></li>-->
            <li><a href="/looseleaves">Вкладыши</a></li>
            <li><a href="/sorters">Сортеры</a></li>
            <li><a href="/cubes">Кубики</a></li>
            <li><a href="/boardgames">Настольные игры</a></li>
            <li><a href="/constructors">Конструкторы</a></li>
            <li><a href="/creatorskit">Наборы для творчества</a></li>
            <li><a href="/puzzles">Пазлы</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="/razr" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Обучающие игры <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/learningtoread">Обучение чтению</a></li>
            <li><a href="/westudythealphabet">Изучаем алфавит</a></li>
            <li><a href="/languageandcommunication">Язык и коммуникация</a></li>
            <!--<li role="separator" class="divider"></li>-->
            <li><a href="/accounteducation">Обучение счету</a></li>
            <!--<li role="separator" class="divider"></li>-->
            <li><a href="/developmentoflogicalthinking">Развитие логического мышления</a></li>
            <li><a href="/developmentofmemoryandattention">Развитие памяти и внимания</a></li>
            <li><a href="/colorsandshapes">Цвета и формы</a></li>
            <li><a href="/theworld">Окружающий мир</a></li>
          </ul>
        </li>
        <li><a href="/puzzlegames">Головоломки</a></li>
        <li class="dropdown">
          <a href="/razr" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Настольные игры <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/teaching">Обучающие</a></li>
            <li><a href="/developing">Развивающие</a></li>
            <li><a href="/merry">Веселые</a></li>
            <!--<li role="separator" class="divider"></li>-->
            <li><a href="/forthecompany">Для компании</a></li>
          </ul>
        </li>
        <li><a href="/constructor">Конструкторы</a></li>
        <li class="dropdown">
          <a href="/razr" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Остальное <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/massformodeling">Масса для лепки</a></li>
            <li><a href="/sandformodeling">Песок для лепки</a></li>
            <li><a href="/puzzle">Пазлы</a></li>
            <!--<li role="separator" class="divider"></li>-->
            <li><a href="/creation">Творчество</a></li>
            <li><a href="/printedproducts">Печатная продукция</a></li>
            <li><a href="/plaything">Игрушки</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div id="maintitle" style="display: block; width: 900px;outline: 2px solid #389f68; margin-left: 15px">
  <p style="margin-left: 15px">
    Здравствуйте уважаемые гости!
  </p>
  <p style="margin-left: 15px">
    Добро пожаловать в наш магазин!
  </p>
  <p style="margin-left: 15px">
    Идея открытия магазина пришла после того, как в моей семье родился сын и мне пришлось ходить по детским магазинам.
  </p>
  <p style="margin-left: 15px">
     Цены на некоторые игрушки меня просто шокировали!!! Именно это и было основным побудительным мотивом для вызревания идеи))
  </p>
  <p style="margin-left: 15px">
    А еще, мне очень не нравится, когда в магазинах игрушек продают монстриков, вампирчиков и всякую нечисть!!!!
  </p>
  <p style="margin-left: 15px">
    В итоге я открылся. Название магазина «Познавалкин» - детские игрушки для ответственных родителей!
  </p>
  <p style="margin-left: 15px">
    Основное направление – развивающие игрушки.
  </p>
</div>
<%= image_tag("/mains.jpg", class:"center", style: "margin-left: 15px")%>